@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #2e2e2e;
  --bg-main-color: #abedd8;
}

@font-face {
  font-family: 'Roxborough';
  src: url('../assets/fonts/roxborough-cf-bold.ttf');
}

body {
  color: var(--text-color);
  background: var(--bg-main-color) url('../assets/patterns/pattern-bg.svg')
    no-repeat center center fixed;
  background-size: cover;
}

h1,
h2,
h3 {
  font-family: Roxborough, sans-serif;
}
